.btn-custom-info {
  &:hover {
    color: $white;
    background: $info;
  }
  &.active {
    color: $white;
    background: $info;
  }
}

.btn-custom-play {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 12px;
  color: $white;
  border: 1px solid $white;
  &:hover {
    background: $info;
    border: 1px solid $white;
  }
  i {
    padding-left: 2px;
  }
  @include media-breakpoint-up(md) {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
}

.btn-more-content {
  color: $white;
  &:hover {
    color: $info;
  }
}
